<!DOCTYPE html> 
<html ng-app="MainApp">
   <head>
      <meta charset="utf-8">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-route.js"></script>
      <script src="https:///angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <!-- Custom styles for this template -->  
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
      <script language="javascript" type="text/javascript" src="AccountController.js"></script>
   </head>
   
   <body ng-controller="TicketController">
      <div class="testi">
         <h1>Account Management</h1>
		 <input type="text"> </input>  <button class="btn btn-default">Search</button>
      </div>
      <div class="panels">
          <accordion close-others="oneAtATime">
            <div class="panel panel-success" ng-repeat="x in GetTicket" accordion-group heading="{{x.Country}}" >
                <accordion-heading>
				{{x.Country}}
				<div class="btn-group pull-right">
				<button type="button" class="btn btn-small" ng-click="">Edit</button> <button type="button" class="btn btn-small" ng-click="deleteCall(IdSelected)">Delete</button>
                  </div>
				  <div  id="collapseOne" class="panel-collapse collapse in">
                   </div> 		
                  </accordion-heading>				   
                  </accordion-group> 	  
				  
               <div class="panel panel-info" ng-repeat="x in GetTicket" accordion-group heading="{{x.City}}" >
                   <accordion-heading>
				{{x.City}}
				<div class="btn-group pull-right">
				<button type="button" class="btn btn-small" ng-click="">Edit</button> <button type="button" class="btn btn-small" ng-click="deleteCall(IdSelected)">Delete</button>
                  </div>
				  <div  id="collapseOne" class="panel-collapse collapse in">
                   </div> 		
                  </accordion-heading>				   
                  </accordion-group> 
				  
                  <div class="panel panel-warning" ng-repeat="x in GetTicket" accordion-group heading="{{x.Name}}" >
                      <accordion-heading>
				{{x.Name}}
				<div class="btn-group pull-right">
				<button type="button" class="btn btn-small" ng-click="">Edit</button> <button type="button" class="btn btn-small" ng-click="deleteCall(IdSelected)">Delete</button>
                  </div>
				  <div  id="collapseOne" class="panel-collapse collapse in">
                   </div> 		
                  </accordion-heading>				   
                  </accordion-group> 
         </div>
         </div> 
      </div>
	  <div> <h3>Send message</h3> 
	  <textarea rows="4" cols="50" class=""> </textarea> <br>
	  <button class="btn btn-default"> Send</button>
	  </div>
   </body>
