<!DOCTYPE html> 
<html ng-app="MainApp">
   <head>
      <meta charset="utf-8">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-route.js"></script>
      <script src="https:///angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <!-- Custom styles for this template -->  
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
      <script language="javascript" type="text/javascript" src="AccountController.js"></script>
   </head>
   
   <body ng-controller="TicketController">
      <div class="account">
		      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="Collapse.html">Contriboard -  Account Management</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Log out</a></li>
               </ul>
               <form class="navbar-form navbar-right">
               </form>
            </div>
         </div>
      </nav>
	
	  <div class="testi">
		
		 <input type="text"> </input>  <button type="button"  class="btn btn-info" >Search</button>  <button type="button"  class="btn btn-info" ng-click="Update()" >Update</button>
      </div>
      <div class="panels">

		 <accordion >
              <div ng-repeat="x in GetUser track by $index " accordion-group heading="{{x.email}} {{x._id}}"  >
                <accordion-heading> <div ng-click="BoardCall(x._id); Render = !Render">
				<span class="label label-success"> {{x.email}}   {{}} </span> <div class="btn-group pull-right">
				<button type="button" class="glyphicon glyphicon-wrench" ng-click="$event.preventDefault(); $event.stopPropagation()"></button> 
				<button type="button" class="glyphicon glyphicon-trash" ng-class="{'selected': x._id === IdSelected}" ng-click="deleteCall(x._id); $event.preventDefault(); $event.stopPropagation()"></button>
                  </div>
				 </div>
				  </accordion-heading>				   
                  </accordion-group> 	 
				  
				 <accordion >	
               <div  ng-if="Render" ng-repeat="y in GetBoard.boards track by $index"  accordion-group heading="{{y._id}} {{y.name}}" > 
                 <accordion-heading > <div ng-class="{'selected': y._id === IdSelected2}"  ng-click="TicketCall(y._id); Collapsed = !Collapsed" >
				<span class="label label-info">{{y._id}} {{y.tickets}} </span>
				<div class="btn-group pull-right">
				<button type="button" class="glyphicon glyphicon-wrench"  ng-click="$event.preventDefault(); $event.stopPropagation();"></button> 
				<button type="button" class="glyphicon glyphicon-trash" ng-class="{'selected': y._id === IdSelected2}" ng-click="deleteBoard(y._id); $event.preventDefault(); $event.stopPropagation()"></button>
                  </div>  </div>		 		
                  </accordion-heading>		
			  
                  </accordion-group> 
				  
				 <accordion > 
                  <div ng-if="!Collapsed" ng-repeat = "tickets in GetTicket.tickets track by $index" accordion-group heading="{{tickets._id}}" ng-click=" Collapsed = !Collapsed">
                  <accordion-heading>
				<span class="label label-warning">{{$index}} {{tickets._id}} {{tickets.position}} </span>
				<div class="btn-group pull-right"> 
				<button type="button" class="glyphicon glyphicon-wrench" ng-click="$event.preventDefault(); $event.stopPropagation();"></button> 
				<button type="button" class="glyphicon glyphicon-trash" ng-class="{'selected': tickets._id === IdSelected3}" ng-click="deleteTicket(tickets._id); $event.preventDefault(); $event.stopPropagation()"></button>
                  </div>  </span>
				  </div>
				  </div>
         </div> 
      </div>
	  </div>
   <button  class="btn btn-info" ng-click="loadMore()">Load more</button>
      
	  <div> <h3>Send message</h3> 
	  <textarea rows="4" cols="50" class=""> </textarea> <br>
	  <button class="btn btn-info"> Send</button>
	  </div>
	  
   </body>
