<!DOCTYPE html> 
<html ng-app="AppGet">
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-route.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-resource.js"></script>
      <script type="text/javascript" src="UserController.js"></script>
      <meta charset="utf-8">
      <!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
   </head>
   <body  ng-controller="UserController as GetData" >
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="Collapse.html">Contriboard - EditUser</a>
               <a class="navbar-brand" href="Statistics.html">Statistics</a>
            </div>
         </div>
      </nav>
	  
   <div  class="form-group" >
<h2>User</h2> 



      <form class="form-horizontal">
         <div class="form-group">
		 
		 <select ng-model="BoardFilter">
    <option ng-repeat="y in GetUsers"
            value="{{y._id}}">
      {{y.email}}
    </option>
</select>
            <label  class="col-sm-2 control-label">New Email</label>
            <div class="col-sm-10">
               <input type="email" ng-model="putParam1"  class="form-control"  placeholder="Email address" required autofocus>
            </div>
         
		 
         
            <label  class="col-sm-2 control-label">New Password</label>
            <div class="col-sm-10">
             <input type="password" ng-model="putParam2" class="form-control" " placeholder="Password" required autofocus>
            </div>
			
		
		 
         <div class="col-sm-offset-2 col-sm-10">
               <button class="btn btn-default" ng-class="{'selected': y._id === IdSelected}" ng-click="putCall(y._id)" >Update</button>
         </div>
		 </div>
      </form>
	  <h3>Boards</h3>
	    <form class="navbar-form navbar-left">
            <input type="text" class="form-control" ng-model="searchText" placeholder="Filter...">
          </form>
	  <div  class="table1" >
         <table class="table">
            <thead>
               <tr>
                  <th>Id</th>
                  <th>Name</th>
				  <th>CreatedBy</th>
				
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="x in GetPutData | filter:searchText | filter:BoardFilter">
                  <td>{{ x._id}}</td>
                  <td>{{ x.name }}</td>
				  <td>{{ x.createdBy}}</td>  
				  
                  <td><button type="button" class="glyphicon glyphicon-trash" ng-click="deleteCall(x._id)" ng-class="{selected: x._id === IdSelected}" title="Delete"> </button></td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>
